---
# Front matter to ensure Jekyll is processing the file.
---

// Main SCSS which includes the UIkit components and other commonly needed styles

// Webis theme variable overrides
@import "../_sass/variables";

// Default UIkit variables
@import "../_sass/uikit/variables-theme";
@import "../_sass/uikit/mixins-theme";

// UIkit main theme
@import "../_sass/uikit/uikit-theme";

// Common Webis styles
@import "../_sass/global";
@import "../_sass/webis_table";
@import "../_sass/webis_list";
@import "../_sass/webis_paragraphs";
@import "../_sass/bibentry";
