// UIkit layout variable overrides
//$global-margin: 20px !default;

// Fonts
$global-font-family: "Product Sans", "Noto Sans", "Verdana", sans-serif;
$global-font-size: 13px;
$global-large-font-size: 1.5rem !default;
$global-small-font-size: 0.875rem !default;
$global-hidpi-font-size: 14px;
$global-line-height: 1.5;
$global-hidpi-line-height: 1.6;
$text-lead-font-size: $global-large-font-size !default;
$text-small-font-size: $global-small-font-size !default;
$text-lead-line-height: $global-hidpi-line-height;
$text-meta-line-height: $global-hidpi-line-height;
$text-small-line-height: 1.7;
$global-small-font-size: 0.875rem;
$section-header-text-transform: uppercase;

$global-xxlarge-font-size: 2.1rem;
$global-xlarge-font-size: 1.7rem;
$global-large-font-size: 1.2rem;

// Colours
$base-link-color: #0645ad;
$base-link-hover-color: $base-link-color;
$base-selection-background: #1c79cc;
$table-header-target-color: #d9e7f7;

$global-secondary-background: #323232;
$global-secondary-background-lighter: lighten($global-secondary-background, 6);
$global-color: #222;
$global-muted-color: #666;
$base-code-color: #454545;

$header-link-color: rgba(255, 255, 255, 0.75);
$header-link-hover-color: #fff;

$footer-icon-color: #b7b7b7;

// Paddings
$global-small-padding: 15px;
$navbar-dropdown-grid-gutter-horizontal: 2 * $global-small-padding;
$global-small-gutter: 15px !default;
$global-medium-gutter: 40px !default;
$padding-small-padding: $global-small-gutter !default;

// Tables
$table-small-cell-padding-vertical: 5px;

// Lists
$list-margin-top: 5px;

// Navigation Bar Adjustment
$navbar-breakpoint: 1010px;
$navbar-nav-item-height: 70px;
$navbar-nav-item-font-size: 1.02rem;
$nav-primary-font-size: 1.4rem;
$navbar-nav-item-padding-horizontal: 0.1px;

// adjusted settings from config before update
$offcanvas-bar-width: 270px;
$offcanvas-bar-padding-vertical: 20px;
$offcanvas-bar-padding-horizontal: 20px;

$offcanvas-bar-width-s: 270px;
$offcanvas-bar-padding-vertical-s: 20px;
$offcanvas-bar-padding-horizontal-s: 20px;

$offcanvas-close-position: 20px;
$offcanvas-close-padding: 5px;

$offcanvas-close-position-s: 20px;



// Target / Fragment identifier
$target-offset: $navbar-nav-item-height + 140px;

// Breakpoints
$breakpoint-small: 640px !default;
$breakpoint-medium: 960px !default;
$breakpoint-large: 1200px !default;
$breakpoint-xlarge: 1600px !default;
