@use "sass:color";

*:not(.uk-hidden) ~ .webis-list {
    margin-top: 40px;
}

.webis-list {

    .date {
        color: $text-muted-color;
        padding-left: 12px;
    }

    .entry {
        border-top: 1px solid color.adjust($global-border, $lightness: -15%);
        @extend .uk-padding-small;
    }

    .entry:target,
    span:target + .entry {
      background-color: #d9e7f7 !important;
    }

    .image {
        display: table-cell;
        vertical-align: middle;
        width: 100px;
        padding-left: 7px;

        img {
            width: 55px;
        }
    }

    .image-wide {
        img {
            width: 80px;
        }
    }

    .people-image {
        width: 115px;
        padding-left: 0;

        img {
            width: 83px;
        }
    }

    .information {
        margin-top: 0.6em;
        margin-bottom: 0;
    }

    .space {
        margin-left: 4px;
        margin-right: 8px;
    }

    .description {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
    }

    .phone-ext {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAQAAABKmM6bAAAAAmJLR0QA75o43NsAAAAJcEhZcwAAAEgAAABIAEbJaz4AAAC0SURBVAjXY2Rg2MEgK8o496XvQ4ZfDEIMwtMY7zDc4mWc/Cv+PcNvhn8Mrxk4GFhYxBm73sW+Z2Bl+MXwgoGNQfEG0333L3EvGVl/qvQJb+L7ZXzMMITlQ+Njht8M4lOcyvYJssipvPr3lOWxwicGRoaXqqvEOZ7/fPuNwYiB5SPDb4YvDD/9jB6aFDH+YWBgYGBSYfjO8J9B7PjH6Qx/GBgYGBgYmPSnSTFwXRNK/nudAQoA5Lg70dfrWfYAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTMtMDYtMjBUMTE6Mjg6NTIrMDI6MDB0tX9bAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDEzLTA2LTIwVDExOjI4OjUyKzAyOjAwBejH5wAAAABJRU5ErkJggg==) no-repeat 0 50%;
        margin-left: 1em;
        padding-left: 11px;
    }

    & > span[id] {
      width: 0px;
      padding: 0px;
      position: relative;
      top: -$target-offset;
    }
}
