@use "sass:color";

.uk-table {
    th {
        font-weight: bolder;
        hyphens: none;
    }

    th.empty {
      color: #999;
    }

    tr th {
        background-color: color.adjust($background-muted-background, $lightness: -2%);
        border-bottom: 2px solid color.adjust($background-muted-background, $lightness: -7%) !important;
    }

    thead tr:first-child th {
        background-color: color.adjust($background-muted-background, $lightness: -40%);
        color: $global-inverse-color;
    }

    &:target thead tr:first-child th,
    tr.target th,
    tr.target td {
        background-color: $table-header-target-color !important;
        color: $global-color !important;
    }

    tr:hover > *[id] ~ * {
        background-color: #ffd !important;
        color: $global-color !important;
    }

    .numeric {
        text-align: right;
        padding-right: 12px !important;
        padding-left: 30px !important;
    }

    .pdf-icon {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsRAAALEQF/ZF+RAAACA0lEQVR4nJ2TPWhTURiGn3tzkza5+SmJVaqoZOjgKBQtEbGgTipIB0EHF6vQDCqFljo4SMWGKrioIEpBcaiTilEEBy0iOrkJLiL+ELCtieam5P6ce45DQn5smsEXDnxwzvd8Lx/v0cZnnyq6aPLkXtKbE9p69wbA5ex+AgEdWlC6rvHpW5Gr999wcWxEDWyIdoQYAMl4GIBsLt9xyszd1wCqkxsDQPgSI6DzP270f6cl42ESZg+JaPPEIiG2bYo33PxYstS6AOHLRm3fnqI4FMT78Jay5QAwdfogV+YX+V6HrAG0qjfdi1fWEF6QUKj2dO7OSwBm5xf5+GVFGd0AZM4BOXrMVbb0x7hwagSr6hE0DAq/Vrn58D3dAdEU2u5R5NJX/EGfVJ9JNCIRUmEEg5130KZygYD9E3duDOdPiUrVo2ILKrbAqop2gK/WBtJ9cgMCAo6dxXr8DMdTOELiCIUtZBOgFDiiHeAvf6Y0c41IWkf1xTDvnSExGmX7RIyNR+IMHk8B9SC5Prh+E+D/LrCyZweRQ8N4+45SGhrHzUzjCIXrSSKvHlC1fSjXAZPXnzealbWMvHSA6sAw6vwCtpnE9RSuL3GFwhaKSuYElu3Bi3cYt6YPN2KZzeVVcddW3P6dhBYeYYfNWrMnsX1Zq4XElRquV3OsqZblZXP5rl+7k/4C/7jo/uWbzA4AAAAASUVORK5CYII=) no-repeat;
        display: inline-block;
        height: 16px;
        width: 16px;
        @extend .uk-link-reset;
    }

    .browser-icon {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAIAAACQKrqGAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAABcSAAAXEgFnn9JSAAAAB3RJTUUH4QwUDgUAfK6WAQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAGvSURBVCjPTZI7a1RRFIW/fc6+c/GVBIfEOOhf0MY6ipBCUCwsY2El+Eu0sLYQLESMChaCFikEwc4m5B8oyTijecfH3Ln3nrO3xUXIKlex+PhY8uDh+6CxEIDkRKFLco6XTZtVNF5ZubGyaIK/GYalPqe19ly8HMX7F+s6y7vt3vUFf/xkTXH2/rA29DLY7l/7YrSu0f1wkj6MwzQzrtInYnYUWCi5Nchg+0281s9nNAfTp024M6g98Wpc3pxv1oUAiEBwxEUQcAHJAPjEJDuV46DA1oTn3yIev1cctCqi5uw0PNs8USU5av31jzIZClw4xd1FF/fVoSz182zMZvJiVNwb1E3m7c9y+dz0UUABM0RAEAjiGjD37AQhuTgEETqA5Bw0HqB1meRgDubm7LSyXcepyagJ3hn41fJ5TxQ/bP3rREZTnY1UmfUjHU7DXsPGb83dar/k9vmE2+pWcXnGLs2kkx42q2K5X29Nw8fd8upcs9HJcgdTXHHJFs5GlagOUeK8ShmY0/+sFHgRBaEXizKNLQrSK7XWPG5iFYp9MiDdXfT4XRwggwrmWKci5X+mHea7URzuOwAAAABJRU5ErkJggg==') no-repeat;
        display: inline-block;
        height: 14px;
        width: 16px;
    }

    .browser-icon-magnifier {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAFGHpUWHRSYXcgcHJvZmlsZSB0eXBlIGV4aWYAAHjapVdtlus2CP2vVXQJBiSBlqPPc7qDLr/ItnDiJG8mbTyxCJYQ3AvI4/o/fw/3l34QBJ0PLDHFuOnHJ58wqyDb8cn7HTa/388f2xKe9M4eoKpIRzp+SjznLz1sT5YgqxQeDEk9H5TnB8mf9uVm6NyIpkeoQjsNpdMQ4fEATgP5CGuLSfgxhNKPsa1I5Pi6eSuylUe37789K3ot6D6E2Alo0zsRHg7Q/JKjrALtd68TgbzKftcArZAUkHc42SepR2O66t9OemLFJHivd3e2PJ5T6AZytPGt3kF4z8oO/cPOXk4Jn/XEGx8e3dCf3zGajD1mjSL7qFDHM6gVyi7pPCXFz63FqWtRbUbNIdl4v5JeolldNRXaVpXBonICVLoGeGiQYUDfxwpVXfTYHbIKiBVpVwoxJqx08KcXDGRK1EiU5LrT7gnNF9i3TVt1+26iOzfQqQhqDHTJ15f7dsEYsxQANjGs1C/ECba6MZmbd52mjMA4QQ07wOu6fyavpAyGifIskaTAlsNECXB1AtqJJp0YdDxqELidBhQi3TqoM0DKgLIGFCDCxogMoECKEpTVddSaKcoAhIBNnUQtnKjcCM6tdQnDPhUDqtqpXpuZMhEoEis3ibKS5X3Q/GEvmkM5UPAhhBg4SEghR4o+hhgjx9kUMxN7x4EjMwsnzkLiJUgUFpEkOWEibZohxcRJUko5655ZLWddnXVCzgULFV+CK7FwkZJKrpo+1ddQY+UqNdXcsFHT/tFi4yYttdyhayp130OPnbv01PPQVBvkhh9hxMFDRhrZWDtpfbm+YA1O1nBnak5kY021zMsEzHYSJmdKmJ4ioIzzpEATGidnm4D3OJmbnG1J2x8FVCfD5KzBZEwZ9B0wDFjcOTwYncz9L94c+yfe8L8y5yZ1XzL3yts71to8hurO2FGFE9SNtPp0TkbRPz2rXkc3BdIuc+qwN/BhHm6fVsE+6HZ5nxjmUaijU4FbSo+6X4xcU1hii0VFt8uC4fADeqFzQqynbruNEJZPQ/k7RXFLKfa00BJ/GuMJA9Te3CnKcoT6OauntVtLN5gwL+cGtdOYg57ZAu8LK38h8BG/EE67VGPeWdujLcuT4W3jZK5Xc8EvF9SDskzGjO6w2WNb5ltdIQ1C2zP3Gz53KN3UwbAFBtHIFA2t+IIuXygdSjflAEvdhuUBG158T6IkZjAsyY0Y19rUDPVYDGwwLmL7Q5q6c4tXR7iFl5S4J9LYDFpXDYAH+LS0l1LKA7yWWfRSiO5ZQdoUTqlTMXFcNf2pblwHgyPhQu4BuGrwD9iu5wZyOVPXfS5wJMO+XoleFvYhP4XnHsKqljkDLf17rSssm9iDRV1W0I4aLzT5HrelVwdrLle9+hXpPt+9A+4H3GxetUwf+n5kq5uttlyyfBjWi0nYIhSrxYauf4jrt+6BHI/d7KlWOdY3Og5bbUoKLw2EefHpuF7ahsZ9MY/ody66VwhlZUq0NLb6w3LPIvJH3Who3vIoXceDNbLBV8tr6/nVZP0qPzewvebe9mHEdNWLlQ6uxraVe3GUZpnyDpl8te1inDgxy7V+zr1Po2YiHKvcw8H50rZysYPUIEvpOhuiVVxd/Uiz1A6AYuh3b1N7SX/Gz30E9tNIcvW+YDWSnGnZeoi+itlhuYiG8cP7iYMvX2iu95Y4rnecpO9HtzLPaCJbNEPf5Oa/5P8CN4vxIdaKDqsAAAGEaUNDUElDQyBwcm9maWxlAAB4nH2RPUjDQBzFX9OKIi0idhB1yFCdLIiKOEoVi2ChtBVadTC59AuaNCQpLo6Ca8HBj8Wqg4uzrg6ugiD4AeLq4qToIiX+Lym0iPHguB/v7j3u3gFCo8JUMzABqJplpOIxMZtbFbtf4UcAIQyjX2KmnkgvZuA5vu7h4+tdlGd5n/tzhJS8yQCfSDzHdMMi3iCe2bR0zvvEYVaSFOJz4nGDLkj8yHXZ5TfORYcFnhk2Mql54jCxWOxguYNZyVCJp4kjiqpRvpB1WeG8xVmt1FjrnvyFwby2kuY6zRHEsYQEkhAho4YyKrAQpVUjxUSK9mMe/iHHnySXTK4yGDkWUIUKyfGD/8Hvbs3C1KSbFIwBXS+2/TEKdO8Czbptfx/bdvME8D8DV1rbX20As5+k19ta5Ajo2wYurtuavAdc7gCDT7pkSI7kpykUCsD7GX1TDhi4BXrX3N5a+zh9ADLU1fINcHAIjBUpe93j3T2dvf17ptXfDzGfco14u8C/AAANdmlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNC40LjAtRXhpdjIiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iCiAgICB4bWxuczpzdEV2dD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlRXZlbnQjIgogICAgeG1sbnM6R0lNUD0iaHR0cDovL3d3dy5naW1wLm9yZy94bXAvIgogICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEuMC8iCiAgICB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iCiAgIHhtcE1NOkRvY3VtZW50SUQ9ImdpbXA6ZG9jaWQ6Z2ltcDoxYWQ1YzgzMS0zMDVhLTQzZTMtOWE1ZS00NDMyNjg0ZGNmMjYiCiAgIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6YmEwZDVjYzAtMzZhNi00YWUzLWIxMTctZGNmODY2NWMxYzMzIgogICB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6OGVmOWZiYmEtY2E5MC00MGMyLTk3ZmYtNjZkMjFlZjY5ZTY2IgogICBHSU1QOkFQST0iMi4wIgogICBHSU1QOlBsYXRmb3JtPSJXaW5kb3dzIgogICBHSU1QOlRpbWVTdGFtcD0iMTY3NzkzNzM5MzUxNzcyMSIKICAgR0lNUDpWZXJzaW9uPSIyLjEwLjMyIgogICBkYzpGb3JtYXQ9ImltYWdlL3BuZyIKICAgdGlmZjpPcmllbnRhdGlvbj0iMSIKICAgeG1wOkNyZWF0b3JUb29sPSJHSU1QIDIuMTAiCiAgIHhtcDpNZXRhZGF0YURhdGU9IjIwMjM6MDM6MDRUMTQ6NDM6MTMrMDE6MDAiCiAgIHhtcDpNb2RpZnlEYXRlPSIyMDIzOjAzOjA0VDE0OjQzOjEzKzAxOjAwIj4KICAgPHhtcE1NOkhpc3Rvcnk+CiAgICA8cmRmOlNlcT4KICAgICA8cmRmOmxpCiAgICAgIHN0RXZ0OmFjdGlvbj0ic2F2ZWQiCiAgICAgIHN0RXZ0OmNoYW5nZWQ9Ii8iCiAgICAgIHN0RXZ0Omluc3RhbmNlSUQ9InhtcC5paWQ6Mzc5MDc4NTktMWQ0Yi00N2MwLThhZjYtNjBiZDVhNDg0YmRhIgogICAgICBzdEV2dDpzb2Z0d2FyZUFnZW50PSJHaW1wIDIuMTAgKFdpbmRvd3MpIgogICAgICBzdEV2dDp3aGVuPSIyMDIzLTAzLTA0VDE0OjQzOjEzIi8+CiAgICA8L3JkZjpTZXE+CiAgIDwveG1wTU06SGlzdG9yeT4KICA8L3JkZjpEZXNjcmlwdGlvbj4KIDwvcmRmOlJERj4KPC94OnhtcG1ldGE+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAKPD94cGFja2V0IGVuZD0idyI/PrKcubUAAAAGYktHRAD/AP8A/6C9p5MAAAAJcEhZcwAEk+AABJPgAYgCDW8AAAAHdElNRQfnAwQNKw0PTn6aAAACbUlEQVQ4y42RP0gbYRjGn8uZHo1kCN2CQiUOLbQJ4XNQScGMtqOBdKpUhFtF6KAgBaOoLQEHcRIcurhEB5OIEAKlDoLVQW7oYOKf1LQ65DzN1X9393SpwVZS/MGzfC/v73t5Xwn/IIT44PV6X8uyXHsjCcMwdACvNjc3v6MeJJWxsbF0oVCgaZq1HB8fMxqNsrOzc1sI8eh2j+tP4wPbtt/v7OyUOjo6XpZKJRiGAY/HU0soFMLU1NRzt9udFUL4bv8qm6aZmp6eJgB2dXWxra2NXq+XCwsLtG2b1WqVfX191DSNExMTFEJ8FkI03gjezM/PMxQKMZfLcX9/n7u7u1xcXGRTUxPz+Twty+Lq6iozmQwzmQxVVXWEEEEAQKVSybe2tnJpaYmHh4d/ZXZ2lj09PbQsi7dJJpOOEOIZALiOjo6e7O3tIRAI3FlqMBhEKpXC+fl53cW7FEX5ZVkWLi8v7xTPzs7g9/vhcrnqC/x+/5dYLIZcLgfHcWqF6+trLC8vo7+/Hx6Pp66gQVGU5NDQUDwajT6sVquIRCKwbRvpdBrr6+sYHR2F4zh1p3BJkqSFw+G3a2trpq7rUFUVAwMD8Pl8SCQSiMfjmJubw9XVFf4LyYDjOB81TSsXi0WenJxQ13XOzMwQAEdGRmgYBk9PTzk+Pl67QsONQJKkAoB34XDYcLvdMUmSAADDw8MPBgcHnyYSCRSLRfT29kLTtG8AKnWnaW9vl25SLpflg4ODT93d3QTASCTCjY2NbZIB3BeSjVtbW19bWloIgM3NzVxZWflhWdaLe0scx3mczWZ/yrJMAJycnLQuLi7U38w6aByC0GiNAAAAAElFTkSuQmCC') no-repeat;
        display: inline-block;
        height: 16px;
        width: 16px;
    }

    .pipe-icon {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAOCAIAAABhIeELAAABhGlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9TtVIqggYUcchQnSyIijhqFYpQIdQKrTqYj35Bk4YkxcVRcC04+LFYdXBx1tXBVRAEP0BcXZwUXaTE/yWFFjEeHPfj3b3H3TuAq5cVzeoYBzTdNlOJuJDJrgqhV3SBRxh9GJAUy5gTxSR8x9c9Amy9i7Es/3N/jh41ZylAQCCeVQzTJt4gnt60Dcb7xLxSlFTic+Ixky5I/Mh02eM3xgWXOZbJm+nUPDFPLBTaWG5jpWhqxFPEUVXTKZ/LeKwy3mKslatK857shZGcvrLMdJrDSGARSxAhQEYVJZRhI0arToqFFO3HffxDrl8kl0yuEhRyLKACDZLrB/uD391a+ckJLykSBzpfHOdjBAjtAo2a43wfO07jBAg+A1d6y1+pAzOfpNdaWvQI6N0GLq5bmrwHXO4Ag0+GZEquFKTJ5fPA+xl9UxbovwXCa15vzX2cPgBp6ip5AxwcAqMFyl73eXd3e2//nmn29wMyQXKN/LczfQAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB+cGFAojGtnyvz8AAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAEklEQVQI12P4/PkzEwMDA6kYAJzWAvSAnO9GAAAAAElFTkSuQmCC') no-repeat;
        display: inline-block;
        height: 16px;
        width: 2px;
    }

    .fa-youtube {
        vertical-align: top;
    }

    .deprecated, .empty {
        color: $text-muted-color;

        a, a:hover, a:focus {
            @extend .uk-link-reset;
        }

        .pdf-icon {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxEAAAsRAX9kX5EAAAAHdElNRQfhBR8OHS+PddZxAAAA+0lEQVQoz3XQv0pCARTH8Y92+4OIFIREQQ9gEbi3BT1DtNRSTb1FNrWHItQQNPQAbba2NLdF4SSEQ6XXuldvg5pa9DvTOed7zg9+qZPEhPatpMb7gGPpQZP27NJRspiaAHIojd2USUZ/Arqm/P9nOJWTHVTGEsoayQTQBTd2PHrHoapGMgb0tawlNoMKqp6SYBIoYk7egbZpr679AjI2NK2al9ET+GPx4dOFd6GOUDgERmHeSdtWE4nEon4OiWiwbqrYknXlVt6LKYV+UDF4s2dTUcG6WORBR13AGWg5t2jXrC9dsciaUF2q719K7i04NfPjHutpq40A/+gbjRNUlqoObPQAAAAASUVORK5CYII=);
        }

        .browser-icon {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfiCxoXBDSDnRKHAAAA2klEQVQY0z3QPU5CURiE4eccLqAWVhRGjCQELVyOa3IN7swYCBJjpDI2/AhXLuezAClnJpl3MukpWjJCAuWkdqqWRyNM9LUVEw8a7249q8LSm2xprmBtprHyIVRcGGKrry1sjDSmBpJMkqUjMSHshYKKhRdhpZaEjVc7tami4tKdMHato5i4tzczkGXKsS7LkiKdnIpQo9gpQtja2Ps5rK3NJbWFtbbGl7WN70N4biiM9fQkKzdWPl0dmCEQio6WkJxp6R6YlQptHTuhK/tFg/R/fJGPDVkISeMPywhg7yFZezgAAAAASUVORK5CYII=);
        }
    }

    td.links a {
        @extend .uk-link-reset;
    }

    tr.empty {
        background: none !important;
    }
}

.webis-data-table {
    font-size: .9rem;
}

table.sortable thead th:not(.non-sortable) span:after {
    margin-left: 0.5em;
    opacity: 0.3;
    content: "\2195";
}

table.sortable thead th.sort-descending span:after {
    opacity: 1;
    content: "\2193";
}
table.sortable thead th.sort-ascending span:after {
    opacity: 1;
    content: "\2191";
}

table.targetable th:first-child,
table.targetable td:first-child {
    width: 0px;
    padding: 0px;
    position: relative;
    top: -$target-offset;
    visibility: hidden;
}

// jQuery DataTables adjustments
.dataTables_wrapper {
    @extend .uk-margin-medium;

    table.dataTable thead {
        .sorting, .sorting_asc, .sorting_desc {
            &:before, &:after {
                top: 4px;
                opacity: .5;
            }
        }

        .sorting_asc:before, .sorting_desc:after {
            opacity: 1;
        }
    }
}
