---
layout: demo # change depending on what site this page belongs to
# nav_active: research # change depending on what site this page belongs to
title: Webis Demo Webis-Demo-Title
description: Short description of the Demo
demotitle: Title of Demo
---

<script type="application/ld+json">
{
    "@context":"http://schema.org/",
    "@type":"Demo",
    "name":"*name of the demo",
    "description":"*synopsis, short description of the demo",
    "text":"*demo, any other text",
    "url":"*link that leads to this HTML web page.",
    "sameAs":"*is there an id link, e.g. from zenodo?",
    "keywords":[
        "*some", 
        "*key", 
        "*words", 
        "*to describe the demo"
    ], 
    "creator":[
        {
            "@type":"Organization",
            "url":"https://webis.de/",
            "name":"The Web Technology & Information Systems Network",
            "alternateName":"Webis"
        },
        {
            "@id":"*orcid id if available", 
            "@type":"Person", 
            "url":"*https://www.uni-weimar.de/en/media/chairs/computer-science-department/webis/people/#name",
            "affiliation":"*Bauhaus-Universit\u00e4t Weimar", 
            "name":"*last name, first name"
        },
        {
            "@id":"*orcid id if available", 
            "@type":"Person", 
            "url":"*https://www.uni-weimar.de/en/media/chairs/computer-science-department/webis/people/#name",
            "affiliation":"*Bauhaus-Universit\u00e4t Weimar", 
            "name":"*last name, first name"
        }
    ],
    "includedInDataCatalog":{
    },
    "distribution":[
    ]
}
</script>

<main class="uk-section uk-section-default">
    <div class="uk-container">
        <h1>{{ page.demotitle }}</h1>
    </div>

    <!-- DEMO CONTENT GOES HERE -->

</main>
